.landing{
  width: 100vw;
  height: 100%;
  background-color: #ccc ;
  background-image: url('../../components/assets/static/paradise_portada_fondo.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  
  @media (max-width: 800px){
    height: 100%;

  }
}